---
layout: default
---

<div id="password-form">
  <p>이 페이지는 비밀번호로 보호되어 있습니다:</p>
  <input type="password" id="password-input" />
  <button id="password-confirm-btn">확인</button>
</div>

<div id="content" style="display: none">
  <div class="post special-toc-layout">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }}</span>
    {% if page.tags %} | {% for tag in page.tags %}
    <a
      href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}"
      class="post-tag"
      >{{ tag }}</a
    >
    {% endfor %} {% endif %}

    <!-- 모바일 및 태블릿에서 표시될 TOC -->
    <div class="mobile-toc">{% include toc.html html=content %}</div>

    <article class="post-article">
      <!-- 데스크탑에서 표시될 TOC -->
      <div class="desktop-toc">{% include toc.html html=content %}</div>

      {{ content }}
    </article>
  </div>
  <button id="top-button" title="맨 위로 이동">↑</button>
</div>

<script src="{{ site.baseurl }}/assets/js/secret-page.js"></script>
